.cont{
    text-align: left;
    padding:  0 1rem;
}

.pagesdivs{
    
    display: flex;
  
    align-items: center;
    
    padding: 0.1rem 0.01rem;

}
.pagesdivs>img{
    margin-right: 0.8rem;
}
.pagesdivs:hover{
    cursor: pointer;
    background-color: #ffde2f;
}